.work__text, .tech__text, footer address, .footer__form-title, .footer__sn-title, .footer__link {
  font-size: 14px;
  line-height: 24px;
}

.project__card-owerflow, .project__link, .project__item, .nav__button, .clients__link, .clients__item, .clients__logo, .workers__svg, .workers__link, .workers__social, .hero__button, .modal__button, .modal__svg, .modal__item input, .modal__close-svg, .modal__close, .footer__form-button, .footer__sn-item, .footer__sn-link:focus, .header__icon, .header__page, .header__link {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.clients__link, .clients__list, .workers__link, .workers__socials, .work__card, .tech__img-container, .modal__close, .footer__form-button, .footer__sn-link, .footer__sn-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto";
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: auto;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header {
  height: auto;
  border-bottom: 1px solid #ece;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__list {
  display: flex;
  gap: 50px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}
.header__page, .header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.28px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
}
.header__link {
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .header__link {
    font-size: 14px;
  }
}
.header__contacts-list {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-list {
    flex-direction: row;
    gap: 50px;
  }
}
.header__link {
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__page:hover, .header__page:focus, .header__link:hover, .header__link:focus {
  color: #2196F3;
  outline: none;
  position: relative;
}
.header__page::after {
  content: "";
  background-color: #2196F3;
  height: 4px;
  display: block;
  border-radius: 2px;
  width: calc(100% + 4px);
  position: absolute;
  bottom: -33px;
  left: -2px;
  opacity: 0;
  transform: scaleX(0);
  transition: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.header__page:hover::after, .header__page:focus::after {
  transform: scaleX(1);
  opacity: 1;
}
.header__icon {
  max-width: 16px;
  height: 12px;
  fill: #757575;
  transition-property: fill;
}
.header .phone-icon {
  max-width: 10px;
  height: 16px;
}
.header__link:hover .header__icon, .header__link:focus .header__icon {
  fill: #2196F3;
  outline: none;
}
.header__phone-menu {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__phone-menu {
    display: none;
  }
}
.header__menu-svg {
  width: 40px;
  height: 40px;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-right: 88px;
}
@media screen and (min-width: 1200px) {
  .logo {
    line-height: 31px;
    font-size: 26px;
    margin-right: 93px;
  }
}

.studio {
  color: #000;
}

.studio2 {
  color: white;
}

.active-page {
  color: #2196F3;
  position: relative;
}

.active-page::after {
  opacity: 1;
  transform: scaleX(1);
}

/*footer */
.footer {
  background: #2F303A;
  padding-top: 50px;
  padding-bottom: 60px;
}
.footer__nav-item {
  margin-top: 9px;
}
.footer__link {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__sn-title {
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__sn-list {
  gap: 10px;
}
.footer__sn-item, .footer__sn-link:focus {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background;
}
.footer__sn-link {
  border-radius: 100%;
  width: 44px;
  height: 44px;
}
.footer__sn-item:hover, .footer__sn-link:focus {
  background: #2196F3;
  outline: none;
}
.footer__socials {
  width: 20px;
  height: 20px;
  fill: #FFF;
}
.footer__form-title {
  color: #FFF;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__form {
  display: flex;
  gap: 12px;
}
.footer__email {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 295px 15px 16px;
  color: #FFF;
}
.footer__form-button {
  border: none;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  gap: 10px;
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  transition-property: background;
}
.footer__form-button:hover {
  background: #188CE8;
}
.footer__button-svg {
  max-width: 24px;
  max-height: 24px;
  fill: #FFF;
}

.footer .container {
  display: flex;
  gap: 70px;
}

footer .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

footer address {
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin-top: 20px;
}

/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(0, 0) scale(0) rotate(90deg);
}

.no-scroll {
  overflow: hidden;
}

.modal {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #FFF;
  padding-top: 8px;
  padding-bottom: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 370px) {
  .modal {
    width: 370px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  margin-bottom: 2px;
  transition-property: outline, background;
}
.modal__close-svg {
  width: 18px;
  height: 18px;
  transition-property: fill;
}
.modal__close:hover {
  background-color: #FFF;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close:hover .modal__close-svg {
  fill: #2196F3;
}
.modal__title {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 260px;
  position: relative;
}
@media screen and (min-width: 370px) {
  .modal__item {
    width: 330px;
  }
}
@media screen and (min-width: 480px) {
  .modal__item {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__item {
    width: 448px;
  }
}
.modal__subtitle {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.modal__item input {
  resize: none;
  width: 260px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px 12px 35px;
  transition-property: border;
}
@media screen and (min-width: 370px) {
  .modal__item input {
    width: 330px;
  }
}
@media screen and (min-width: 480px) {
  .modal__item input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__item input {
    width: 448px;
  }
}
.modal__item input:focus {
  border: 1px solid #2196F3;
}
.modal__item input:focus .modal__svg {
  fill: #2196F3;
}
.modal #modal__text {
  margin-top: 4px;
  padding-bottom: 120px;
  padding-top: 15px;
  padding-left: 16px;
}
.modal #modal__text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.modal #modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.modal__svg {
  max-width: 18px;
  position: absolute;
  top: -65%;
  left: 2%;
  fill: #000;
  transition-property: fill;
}
.modal__box {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.modal__input:hover, .modal__input:focus, .modal__input:active {
  border-color: #2196F3;
  outline: none;
}
.modal__input:hover + .modal__svg, .modal__input:focus + .modal__svg, .modal__input:active + .modal__svg {
  fill: #2196F3;
}
.modal__checkbox-lable {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-lable {
    font-size: 14px;
  }
}
.modal__checkbox-custom {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  background-color: #FFF;
  border-radius: 15%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 32%;
  right: 94%;
}
@media screen and (min-width: 370px) {
  .modal__checkbox-custom {
    top: 30%;
    right: 96%;
  }
}
@media screen and (min-width: 480px) {
  .modal__checkbox-custom {
    top: 15%;
    right: 96%;
  }
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-custom {
    top: 20%;
    right: 97%;
  }
}
.modal__checkbox-svg {
  width: 11px;
  height: 8px;
  fill: #FFF;
  opacity: 0;
}
#modal__checkbox:checked + .modal__checkbox-custom > .modal__checkbox-svg, #modal__checkbox:checked + .modal__checkbox-custom {
  opacity: 1;
  background-color: #2196F3;
  border: none;
}
.modal__link {
  color: #2196F3;
  text-decoration-line: underline;
}
.modal__button {
  border: none;
  padding: 10px 52px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-property: background;
}
.modal__button:hover, .modal__button:focus {
  background: #188CE8;
}

/* hero  */
.hero {
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 0.06em;
}
.hero__title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 1.56px;
  width: 290px;
  animation-name: run-title;
  animation-duration: 3000ms;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 2.64px;
    width: 696px;
    line-height: 1.36;
  }
}
.hero__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  border-style: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background;
  animation-name: button-animation;
  animation-iteration-count: infinite;
  animation-duration: 5000ms;
  animation-delay: 3000ms;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    width: 216px;
  }
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
  outline: none;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@keyframes run-title {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes button-animation {
  0% {
    transform: scale(1);
  }
  18% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
/* tech  */
.tech {
  padding-top: 60px;
}
.tech__container {
  display: flex;
  justify-content: center;
}
.tech__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .tech__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .tech__list {
    max-width: 1170px;
    align-items: baseline;
  }
}
.tech__item {
  width: 290px;
}
@media screen and (min-width: 480px) {
  .tech__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .tech__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .tech__item {
    width: 270px;
  }
}
.tech__img-container {
  border-radius: 4px;
  background: #F5F4FA;
  height: 120px;
  margin-bottom: 30px;
}
.tech__img {
  width: 70px;
  height: 70px;
}
.tech__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .tech__title {
    text-align: start;
  }
}
.tech__text {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
  margin-top: 10px;
}

/* work */
.work {
  padding-top: 118px;
  padding-bottom: 94px;
}
.work__list {
  display: flex;
  justify-content: space-between;
}
.work__item {
  position: relative;
}
.work__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 50px;
}
.work__img {
  width: 370px;
  height: 294px;
}
.work__card {
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  top: 224px;
  left: 0;
}
.work__text {
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* workers  */
.workers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}
.workers__list {
  display: flex;
  justify-content: space-between;
}
.workers__list li {
  padding-bottom: 30px;
}
.workers__item {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.workers__img {
  width: 270px;
  height: 260px;
}
.workers__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 50px;
}
.workers__names {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
}
.workers__job {
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}
.workers__socials {
  gap: 10px;
  margin-top: 16px;
}
.workers__social {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  transition-property: background-color;
}
.workers__link {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  transition-property: color;
}
.workers__svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
}
.workers__social:hover .workers__svg, .workers__link:focus .workers__svg {
  fill: #FFF;
}
.workers__social:hover, .workers__link:focus {
  background-color: #2196F3;
  outline: none;
}

/* clients */
.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.clients__list {
  gap: 30px;
}
.clients__logo {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: fill;
}
.clients__item {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition-property: border;
}
.clients__link {
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition-property: border;
}
.clients__item:hover, .clients__link:focus {
  border: 1px solid #2196F3;
}
.clients__item:hover .clients__logo, .clients__link:focus {
  fill: #2196F3;
  outline: none;
}
.clients__link:focus .clients__logo {
  fill: #2196F3;
}

/* nav  */
.nav {
  padding-top: 94px;
  padding-bottom: 50px;
}
.nav__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.nav__button {
  width: auto;
  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-size: 16px;
  line-height: 26px;
  transition-property: background, box-shadow, color;
}
.nav__button:focus, .nav__button:hover {
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

/* projects  */
.project {
  padding-bottom: 94px;
}
.project__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 0;
}
.project__card-text {
  padding: 20px 24px;
}
.project__item {
  border: 1px solid #EEE;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
}
.project__card {
  position: relative;
  overflow: hidden;
}
.project__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: box-shadow;
}
.project__item:hover, .project__link:focus .project__item {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  outline: none;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.project__type {
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  margin-top: 4px;
  text-align: start;
}
.project__card-owerflow {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform, opacity;
}
.project__link:hover .project__card-owerflow, .project__link:focus .project__card-owerflow {
  opacity: 1;
  transform: translateY(0);
}
.project__card-owerflow-text {
  color: #FFF;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}/*# sourceMappingURL=main.css.map */