/* hero  */
.hero{
    background-color: rgba(47, 48, 58, 0.40);
    // background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../../images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0.06em;

    &__title{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 1.56px;
    width: 290px;

    animation-name: run-title;
    animation-duration: 3000ms;

    @media screen and (min-width: 480px) {
        width: 360px;
    }
    @media screen and (min-width: 1200px) {
        font-weight: 900;
        font-size: 44px;
        letter-spacing: 2.64px;
        width: 696px;
        line-height: 1.36;
    }
    }
    &__button{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: $main-color;
    border-style: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87; 
    letter-spacing: 0.96px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @extend %transition;
    transition-property: background;

    animation-name: button-animation;
    animation-iteration-count: infinite;
    animation-duration: 5000ms;
    animation-delay: 3000ms;

    @media screen and (min-width: 1200px) {
        width: 216px;
    }
    } 
    &__button:hover, &__button:focus{
        background-color: $button-color;
        outline: none;
    }
} 
.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 118px;
    padding-bottom: 118px;
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

@keyframes run-title{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes button-animation{
    0%{
        transform: scale(1);
    }
    18%{
        transform: scale(1.2);
    }
    30%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.5);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}