/* tech  */
.tech{
    padding-top: 94px;
    &__list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    }
    &__img-container{
        border-radius: 4px;
        background: #F5F4FA;
        height: 120px;
        @extend %flex-base;
        margin-bottom: 30px;
    }
    &__img{
        width: 70px;
        height: 70px;
    }
    &__title{
        @include text-prop ($text-color1, 700, 14px, 16px);
        text-transform: uppercase;
        text-align: start;
    }
    &__text{
        font-weight: 400;
        @extend %text-size;
        letter-spacing: 0.03em;
        color: $text-color2;
        text-transform: none;
        width: 270px;

        margin-top: 10px;
    }
}