/* projects  */
.project{
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
        padding-bottom: 94px;
    }

    &__list{
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        @media screen and (min-width: 768px) {
            max-width: 738px;
            justify-content: start;
        }
        @media screen and (min-width: 1200px) {
            max-width: 1170px;
        }
    }
    &__card-text{
        padding: 20px 24px;
    }
    &__item{
        border: 1px solid #EEE;
        width: calc(100% - 30px);
        
        @media screen and (min-width: 480px) {
            width: 450px;
        }
        @media screen and (min-width: 768px) {
            width: 354px;
        }
        @media screen and (min-width: 1200px) {
            width: 370px;
        }

        position: relative;
        overflow: hidden;

        @extend %transition;
        transition-property: box-shadow;
    }
    &__img{
        width: 100%;

        @media screen and (min-width: 480px) {
            width: 450px;
        }
        @media screen and (min-width: 768px) {
            width: 354px;
        }
        @media screen and (min-width: 1200px) {
            width: 370px;
        }
    }
    &__card{
        position: relative;
        overflow: hidden;
    }
    &__link{
        width: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: center;

        @extend %transition;
        transition-property: box-shadow;
    }
    &__item:hover, &__link:focus &__item{
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        outline: none;
    }
    &__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: $text-color1;
    }
    &__type{
        @include text-prop ($text-color2, 400, 16px, 30px);
        margin-top: 4px;
        text-align: start;
    }
    &__card-owerflow{
        width: 370px;
        height: 294px;
        background: rgba(33, 150, 243, 0.90);
        padding: 63px 24px;

        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        transform: translateY(100%);

        @extend %transition;
        transition-property: transform, opacity;
    }
    &__link:hover &__card-owerflow, &__link:focus &__card-owerflow{
        opacity: 1;
        transform: translateY(0);
    }
    &__card-owerflow-text{
        color: #FFF;
        font-family: $Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.55;
        letter-spacing: 0.54px;
    }
}