.menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 10px 15px 48px 20px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 350px) {
        padding-left: 40px;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }

    @extend %transition;
    transition-property: transform; 

    &__close{
        border: none;
        background: transparent;
        width: 40px;
        height: 40px;
        align-self: flex-end;
        margin-bottom: 10px;
    }
    &__close:hover &__svg, &__close:focus &__svg{
        fill: #2196F3;
    }
    &__svg{
        width: 40px;
        height: 40px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__link{
        color: #212121;
        font-family: 'Roboto';
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.8px;
    }
    &__link:hover, &__link:focus{
        color: #2196F3;
    }
    &__contacts{
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__phone{
        color: #2196F3;
        font-family: 'Roboto';
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 0.68px;

        @media screen and (min-width: 350px) {
            font-size: 34px;
        }
    }
    &__mail{
        color: #757575;
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.48px;
    }
    &__sn{
        margin-top: 64px;
        display: flex;
    }
    &__sn-item{
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.20);
    }
    &__sn-item:last-child{
        border: none;
        padding-right: 0;
    }
    &__sn-item:first-child{
        padding-left: 0;
    }
    &__sn-link{
        color: #2196F3;
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.36px;

        @media screen and (min-width: 410px) {
            font-size: 18px;
        }
    }
}
.menu.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.menu.is-hidden{
    transform: translate(0, 0) scale(0);
}